.main-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid white;
}

.header-title {
    padding: 1%;
    margin-left: 200px;
    color: inherit;
}

.choose-theme {
    display: flex;
    margin: 1%;
}